<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CartControllers</servlet-name>
        <servlet-class>com.fptuni.prj301.assignment.laptopsgo.controller.CartControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserControllers</servlet-name>
        <servlet-class>com.fptuni.prj301.assignment.laptopsgo.controller.UserControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderControllers</servlet-name>
        <servlet-class>com.fptuni.prj301.assignment.laptopsgo.controller.OrderControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminControllers</servlet-name>
        <servlet-class>com.fptuni.prj301.assignment.laptopsgo.controller.AdminControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductControllers</servlet-name>
        <servlet-class>com.fptuni.prj301.assignment.laptopsgo.controller.ProductControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerControllers</servlet-name>
        <servlet-class>com.fptuni.prj301.assignment.laptopsgo.controller.SellerControllers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartControllers</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserControllers</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderControllers</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminControllers</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductControllers</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerControllers</servlet-name>
        <url-pattern>/Seller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
